.blink-green {
  animation: blinkBorderGreen 1s infinite;
  border-color: #28a745 !important;
  box-shadow: 0 0 10px #28a745;
  background-color: #28a745 !important;
  color: white !important;
}

.blink-green-text {
  animation: blinkText 0.5s step-start 3;
  color: #28a745;
}

@keyframes blinkBorderGreen {
  0% { box-shadow: 0 0 0px #28a745; }
  50% { box-shadow: 0 0 15px #28a745; }
  100% { box-shadow: 0 0 0px #28a745; }
}

@keyframes blinkText {
  50% { color: transparent; }
}
