.blink-green {
  animation: blinkBorderGreen 0.8s infinite alternate;
  border: 3px solid #28a745 !important;
  box-shadow: 0 0 20px #28a745;
  background-color: #28a745 !important;
  color: white !important;
  font-weight: bold !important;
  transform: scale(1.05);
  z-index: 10;
}

.blink-green-text {
  animation: blinkText 0.5s step-start 3;
  color: #28a745;
}

@keyframes blinkBorderGreen {
  0% { 
    box-shadow: 0 0 5px #28a745;
    opacity: 1;
  }
  100% { 
    box-shadow: 0 0 25px #28a745, 0 0 40px #28a745;
    opacity: 0.8;
  }
}

@keyframes blinkText {
  50% { color: transparent; }
}

.card-visa {
  border: 3px solid #007bff !important; /* أزرق للفيزا */
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2) !important;
}

.card-mastercard {
  border: 3px solid #dc3545 !important; /* أحمر للماستركارد */
  box-shadow: 0 4px 8px rgba(220, 53, 69, 0.2) !important;
}

.card-unknown {
  border: 1px solid #ccc !important;
}
